@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: poppins;
}

section {
    scroll-margin-top: 60px;
}

button {
    padding: 13px 27px;
    font-size: 10px;
    background-color: #143c3c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0b2626;
}

/* background-color: #143C3C; */

nav {
    width: 80%;
    height: 50px;
    margin: 0;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 5px 10px -5px rgba(17, 52, 52, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    z-index: 1000;
    top: 10px;
}

nav .res {
    display: none;
}

nav .menu {
    display: none;
}

.menu {
    display: none;
}

.menu-container {
    display: none;
}

.white-container {
    display: none;
    background-color: #0b2626;
    position: absolute;
    width: 100%;
    height: 80vh;
    left: 0;
    top: 0;
}

nav .white-container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

nav .white-container ul a {
    text-decoration: none;
    font-size: 13px;
    color: white;
}

nav .white-container button {
    padding: 13px 27px;
    font-size: 10px;
    background-color: white;
    color: #0b2626;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20;
    left: 30px;
    position: absolute;
}

.white-container .x {
    position: absolute;
    right: 10px;
    top: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 43, 43);
    font-size: 16px;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul a {
    text-decoration: none;
    font-size: 13px;
    color: #143c3c;
}

nav ul a:hover {
    text-decoration: underline;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 220px;
    width: auto;
    height: 535px;
    margin-top: 60px;
}

.home-left {
    display: flex;
    flex-direction: column;
}

.home-left h1 {
    font-size: 40px;
    color: #1D292E;
    margin: 0;
}

.home-left h6 {
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
}

.home-btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.home-btn a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.home-btn a h5 {
    font-size: 15px;
    color: #143c3c;
    font-weight: bolder;
}

.home-btn a h5:hover {
    text-decoration: underline;
}

.play {
    width: 38px;
    height: 38px;
    background-color: #839E7C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-right {
    display: flex;
    gap: 20px;
}

.home-right div {
    width: 180px;
    height: 370px;
    background-color: black;
    border-radius: 100px;
    background-image: url(Images/d52475d29fbe16bca71cbdc1843df268.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 40px rgba(20, 60, 60, 0.1);
}

.home-right div:nth-child(2) {
    margin-top: 60px;
}


.sponsors {
    width: 80%;
    height: 150px;
    background-color: #E4ECE1;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sponsors img {
    padding: 0;
    margin: 0;
    opacity: 1;
}

.sponsors img:hover {
    opacity: 0.7;
}



.services {
    width: auto;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    align-items: last baseline;
    color: #0b2626;
    gap: 700px;
}

.heading h4 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.heading  h4 hr {
    width: 20px;
    margin: 0;
}

.heading h2 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.heading h2 hr {
    width: 40px;
    margin: 40px 0 0 -100px;
}

.heading-right {
    display: flex;
    gap: 8px;
}

.heading-right div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #839E7C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.heading-right .btn3 {
    background-color: #E2EFDE;
}

.heading-right .btn2 {
    background-color: #143c3c;
}

.services-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.services-bottom .card {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #0b2626; */
    box-shadow: 5px 5px 2px rgba(20, 60, 60, 0.1);
}

.services-bottom .card:hover {
    box-shadow: 2px 2px 20px rgba(20, 60, 60, 0.1);
    border: none;
}

.services-bottom .card .img {
    height: 75%;
    background-image: url(Images/10c1f07d05eff4b955e3a7142e41033b.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px  0 0;
}

.services-bottom .card .img2 {
    background-image: url(Images/24e284de7bcba1f10b72be98a9c2eff0.jpg);
}

.services-bottom .card .img3 {
    background-image: url(Images/d187a51c688056fe9bb8d56e9da113a1.jpg);
}

.services-bottom .card .txt {
    width: 100%;
    height: 25%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.services-bottom .card .txt h2 {
    font-size: 18px;
    margin: 0;
    color: #0b2626;
}

.services-bottom .card .txt h4 {
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    color: #0b2626;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 250px;
    width: auto;
    height: 95vh;
    margin-top: 70px;
    color: #143c3c;
}

.about-left {
    display: flex;
    gap: 20px;
}

.about-left div {
    width: 200px;
    height: 370px;
    background-image: url(Images/user-2.jpg);
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 40px rgba(20, 60, 60, 0.1);
}

.about-left div:first-child {
    margin-top: 50px;
    background-image: url(Images/6f84e67fc905c8fc7ca313bc5758ea78.jpg);
}

.about-left .all {
    width: 120px;
    height: 130px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: none;
    left: 450px;
    margin-top: 270px;
    background-image: none;
    box-shadow: 2px 2px 10px #143c3c;
    z-index: 1;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-heading h4, .about-heading h2 {
    margin: 0;
}

.about-heading h2 {
    margin-top: 8px;
}

.about h3 {
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
}

.four {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 7px;
}

.four h1 {
    font-size: 40px;
    margin: 0;
}

.four h5 {
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
}

.about-right hr {
    width: 100%;
}

.process {
    width: 100%;
    height: 95vh;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0b2626;
}

.pro {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pro-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -80px;
}

.pro .heading .pro-left h4 {
    margin-left: -435px;
}

.pro-left h2 hr {
    margin-left: -30px;
}

.pro-left h4, .pro-left h2 {
    margin: 0;
    text-align: left;
    margin-left: -440px;
}

.process .processes {
    width: 80%;
    height: 120px;
    border-radius: 40px;
    box-shadow: 5px 5px 2px rgba(20, 60, 60, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.process .processes:hover{
    background-color: #E2EFDE;
    box-shadow: none;
}

.topic {
    display: flex;
    align-items: center;
    gap: 30px;
}

.topic h1 {
    font-size: 50px;
    margin-left: 50px;
}

.topic h2 {
    font-size: 19px;
    text-align: left;
}

.processes h5 {
    font-size: 14px;
    font-weight: lighter;
    margin-right: 50px ;
    display: block;
}

.video {
    width: 100%;
    height: 100vh;
    margin-top: 70px;
    color: white;
    background-color: #143c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.video-txt {
    color: white;
    display: flex;
    align-items: center;
    gap: 300px;
}

.video-txt h2 {
    margin: 0;
}

.video-txt h2 hr {
    margin-left: -30px;
}

.txt-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.txt-right h5 {
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
    color: rgb(213, 213, 213);
}

.txt-right h4 {
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.video2 {
    width: 80%;
    height: 75vh;
    background-color: black;
    border-radius: 20px;
    background-image: url(Images/e3e19db0b0f5ace45bb9337f5fe7f326.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn {
    position: absolute;
    background-color: black;
    width: 70px;
    height: 70px;
    opacity: 0.8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.play-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.share {
    width: auto;
    height: auto;
    color: #0b2626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.share-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.share-heading h4 {
    font-size: 13px;
    font-weight: lighter;
    margin: 0;
}
.share-heading h2 {
    font-size: 30px;
    font-weight: bold;
}

.heading h4 {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
}

.share-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* width: 900px;
    height: 300px; */
    /* background-color: green; */
}

.blog2 {
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 90px;
    border: 1px solid #0b2626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 5px 10px -5px rgba(17, 52, 52, 0.2);
    cursor: pointer;
}

.blog2:hover {
    border: none;
    margin-top: -50px;
    box-shadow: 0 5px 30px -5px rgba(17, 52, 52, 0.2);
}

.blog2 h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.blog2 h5 {
    font-size: 11px;
    font-weight: lighter;
    margin: 0;
    text-align: center;
}

.blog {
    width: auto;
    height: auto;
    margin-top: 70px;
    color: #0b2626;
    justify-content: center;
    gap: 20px;
}

.blog-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.blog-heading {
    display: flex;
    gap: 200px;
    align-items: center;

}

.blog .heading h2 hr {
    margin-left: -20px;
    width: 20px;
}

.blog-heading h6 {
    font-size: 14px;

    font-weight: lighter;
}

.blog-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.blog-txt h4, .blog-txt h2 {
    margin: 0;
}

.blog-img {
    display: flex;
    gap: 15px;
}

.blog-img1 {
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px rgba(17, 52, 52, 0.2);
}

.blog-img1:hover {
    box-shadow: 0 5px 40px -5px rgba(17, 52, 52, 0.2);
}

.blog-content {
    height: 70%;
    background-image: url(Images/5b161d36d5d504cd7532b5a94e0c34b4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px  0 0;
}

.blog-img2 .blog-content {
    background-image: url(Images/6f84e67fc905c8fc7ca313bc5758ea78.jpg);
    background-size: cover;
    background-position: center;
}

.blog-img3 .blog-content {
    background-image: url(Images/d187a51c688056fe9bb8d56e9da113a1.jpg);
    background-size: cover;
    background-position: center;
}

.blog-text {
    height: 30%;
    width: auto;
    border-radius: 0 0 20px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    align-items: flex-start;
    gap: 5px;
    padding-left: 20px;
}

.blog-text button {
    padding: 10px 15px;
    font-size: 8px;
    /* margin-right: 198px; */
}

.blog-text h2 {
    font-size: 14px;
    margin: 0;
}

.blog-text hr {
    width: 80%;
}

.blog-text h6 {
    text-align: right;
    margin: 0;
    margin-left: 160px;
}

.blog-img2 h2 {
    /* font-size: 11px; */
    line-height: 1.2;
}

.blog-img2 h6 {
    margin-left: 140px;
}

.blog-img2 {
    background-image: url(Images/5b161d36d5d504cd7532b5a94e0c34b4.jpg);
}

.blog-img3 h6 {
    margin-left: 130px;
}

.contact {
    width: 100%;
    height: 60vh;
    margin-top: 30px;
    background-color: #0b2626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contact-all {
    color: white;
    display: flex;
    /* align-items: center; */
    gap: 50px;
    justify-content: center;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 175px;
}

.news h1 {
    font-weight: 400;
    margin: 0;
}

.news .email {
    display: flex;
    align-items: center;
}

.news .email input{
    width: 200px;
    height: 40px;
    background-color: #0b2626;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    border: none;
}

.news hr {
    width: 17%;
    position: absolute;
    left: 0;
}

.news .icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
}

.icons div:hover {
    background-color: #A1562C;
    border: none;
    width: 45px;
    height: 45px;
}

.page {
    display: flex;
    gap: 50px;
}

.pages {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.pages h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

.pages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pages ul li a{
    text-decoration: none;
    margin: 0;
    font-size: 11px;
    font-weight: lighter;
    color: rgb(155, 155, 155);
    padding: 0;
}

.pages ul li a:hover {
    text-decoration: underline;
}

.contact hr {
    width: 70%;
}

@media screen and (max-width:1150px) {
    nav ul {
        gap: 10px;
    }

    nav ul li a {
        font-size: 12px;
    }

    .home {
        gap: 60px;
        height: auto;
        margin-top: 100px;
    }


    .home-right div {
        width: 120px;
        height: 300px;
        box-shadow: 2px 2px 20px rgba(20, 60, 60, 0.1);
    }

    .sponsors {
        height: auto;
        margin-top: 30px;
    }

    .sponsors img {
        width: 90px;
    }

    .services {
        margin-top: 20px;
        height: auto;
    }

    .heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .heading-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading h2, .heading h4 {
        text-align: center;
        margin: 0;
    }

    .heading hr {
        display: none;
    }

    .services-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        justify-self: center;
        justify-items: center;
        margin-top: 20px;
    }

    .services .card:last-child {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .txt h2, .txt h4 {
        text-align: center;
        margin: 0;
        padding-right: 28px;
    }

    .about {
        display: flex;
        gap: 80px;
        margin-top: 40px;
        scroll-margin-top: 10px;
        height: auto;
    }

    .about-heading h4, .about-heading h2 {
        text-align: left;
    }

    .about .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .heading .about-heading h4 {
        font-size: 10px;
    }

    .heading .about-heading h2 {
        font-size: 25px;
    }

    .about-left div {
        width: 160px;
        height: 320px;
        box-shadow: 2px 2px 20px rgba(20, 60, 60, 0.1);
    }

    .about-right h3 {
        font-size: 12px;
        text-align: center;
    }

    .four h5 {
        font-size: 11px;
    }

    .four h1 {
        font-size: 30px;
    }

    .process {
        margin-top: 0px;
        height: auto;
    }

    .pro-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: -80px;
        padding: 0;
    }

    .process .heading h2 {
        text-align: center;
    }

    .process .heading h4 {
        text-align: center;
        margin-right: -435px;
        padding: 0;
    }

    .topic {
        gap: 10px;
    }

    .processes h1 {
        font-size: 32px;
    }

    .processes h2 {
        font-size: 15px;
    }

    .processes h5 {
        font-size: 11px;
    }
    .video {
        height: 100vh;
    }

    .video-txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .video-txt h2 {
        font-size: 22px;
    }

    .video-txt .txt-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .txt-right h5 {
        font-size: 12px;
        text-align: center;
    }

    .video-txt .txt-right h4 {
        text-align: center;
        font-size: 11px;
    }

    .video-txt .txt-right h4 img {
        width: 15px;
    }

    .video2 {
        height: 70vh;
    }

    .share {
        height: auto;
    }

    .blog2:hover {
        margin-top: 0px;
    }

    .blog {
        height: auto;
    }

    .blog-cont .blog-heading {
        gap: 0px;
    }

    .blog .blog-cont .blog-heading .blog-txt {
        display: flex;
        align-items: center;
    }

    .blog .blog-cont .blog-heading h6 {
        text-align: center;
        margin: 0;
    }

    .blog-txt h4 {
        text-align: center;
        margin: 0;
    }

    .blog .blog-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .blog .blog-img3 {
        justify-self: center;
        grid-column: 1 / -1;
        margin-top: 10px;
    }

    .contact {
        height: 60vh;
    }

    .contact .contact-all {
        gap: 20px;
    }

    .contact .news {
        margin-right: 50px;
    }

    .news h1 {
        font-size: 20px;
    }

    .contact .page {
        gap: 30px;
    }

    .contact .pages h4 {
        font-size: 14px;
    }

    .contact hr {
        width: 50%;
    }
}

@media screen and (max-width:800px) {
    nav ul, nav button {
        display: none;
    }

    nav .menu-container .menu {
        display: block;
    }

    .menu-container {
        display: block;
    }

    .menu-container:hover .white-container {
        display: block;
    }

    .x:hover .white-container {
        display: none;
    }

    .home {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* margin-top: 160px; */
    }

    .home-left h1, .home-left h6 {
        text-align: center;
    }

    .sponsors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 10px;
        padding: 20px;
        height: 210px;
    }

    .sponsors a:last-child {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .services-bottom {
        grid-template-columns: 1fr;
    }

    .about {
        display: flex;
        flex-direction: column;
        scroll-margin-top: 110px;
    }

    .about .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-heading h4, .about-heading h2 {
        text-align: center;
    }

    .topic {
        gap: 2px;
    }

    .processes h1 {
        font-size: 20px;
        margin-left: 20px;
    }

    .processes h2 {
        font-size: 8px;
    }

    .processes h5 {
        font-size: 8px;
        margin-right: 20px;
    }

    .video {
        margin-top: 0;
        width: 100%;
        height: 100vh;
    }

    .share {
        height: auto;
    }

    .share .share-heading h2 {
        font-size: 25px;
    }

    .share .share-heading h4 {
        font-size: 10px;
    }
    .share-card {
        display: flex;
        flex-direction: column;
    }

    .blog .blog-img {
        display: flex;
        flex-direction: column;
    }

    .contact {
        height: 70vh;
    }

    .contact-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact .contact-all .news {
        align-items: center;
        gap: 5px;
    }

    .icons div {
        width: 30px;
        height: 30px;
    }

    .icons div:hover {
        width: 30px;
        height: 30px;
    }
}

